html, body {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000000;
    color: white;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}

.header {
    text-align: center;
    font-size: 4.2rem;
}

.grid {
    width: 800px;
    height: 800px;
    margin: auto;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    gap: 0.5rem;
}

.grid_item {
    background: #1F2029;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.modal_content {
    position: relative;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.modal_button {
    padding: 10px 20px;
    border-radius: 20px;
    background: #3F72F1;
    color: white;
}

.modal_button:hover {
    cursor: pointer;
}

.grid_item:hover {
    cursor: pointer;
}

.player {
    color: #3F72F1;
}

.ai {
    color: #2BD180;
}

.grid_item span {
    width: 100%;
    line-height: 100%;
    text-align: center;
    font-weight: 700;
}